<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="true" backupStaticAttributes="false" bootstrap="bootstrap.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" forceCoversAnnotation="false" processIsolation="false" stopOnError="true" stopOnFailure="true" stopOnWarning="true" stopOnIncomplete="true" stopOnSkipped="true" stopOnRisky="true" timeoutForSmallTests="1" timeoutForMediumTests="10" timeoutForLargeTests="60" verbose="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">../../src</directory>
    </include>
    <exclude>
      <directory suffix="Launcher.php">../../src/PAMI/Application</directory>
      <directory suffix=".php">../../vendor</directory>
    </exclude>
    <report>
      <clover outputFile="../../build/logs/clover.xml"/>
      <html outputDirectory="../../build/coverage-html"/>
      <xml outputDirectory="../../build/coverage-xml"/>
    </report>
  </coverage>
  <!--
    stopOnWarning="false"
    stopOnSkipped="true"
    stopOnRisky="false"
    strictCoverage="false"
    mapTestClassNameToCoveredClassName="false"
    -->
  <testsuites>
    <testsuite name="Client">
      <directory suffix=".php">../client</directory>
    </testsuite>
    <testsuite name="Actions">
      <directory suffix=".php">../actions</directory>
    </testsuite>
    <testsuite name="Events">
      <directory suffix=".php">../events</directory>
    </testsuite>
    <testsuite name="Factories">
      <directory suffix=".php">../factories</directory>
    </testsuite>
    <testsuite name="SCCP_Actions">
      <directory suffix=".php">../sccp_actions</directory>
    </testsuite>
    <testsuite name="SCCP_Events">
      <directory suffix=".php">../sccp_events</directory>
    </testsuite>
    <testsuite name="XSLT_Actions">
      <directory suffix=".php">../xslt</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
